.helpButtonContainer {
    font-family: "Press Start 2P";
    font-size: 1.25rem;
    font-style: normal;
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 4rem;
    right: 6.25rem;
  }
  
  .balloon {
    position: absolute;
    bottom: 100%;
    left: 150%;
    transform: translateX(-50%);
    background-color: white;
    border: 0.125rem solid black;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .balloon:before {
    content: '';
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    border: 0.625rem solid transparent;
    border-top-color: black;
  }
  
  .balloon-content {
    font-size: 0.875rem;
    line-height: 1.5;
  }